{{ define "main" }}
<article>
    <h1 class="text-4xl font-bold mb-8 text-primary-dark">{{ .Title }}</h1>
    {{ partial "card.html" (dict
        "content" .Content
        "withShadow" true ) }}
</article>

<div class="mt-8 flex max-w-full flex-row">
    {{ with .Site.GetPage "/associazione/statuto" }}
    <div
        class="flex-col w-1/2 bg-accent text-primary-light p-4 rounded-lg mb-8 hover:bg-primary-dark transition-colors duration-300 m-2">
        <a href="{{ .RelPermalink | relLangURL }}" class="block text-center text-xl font-bold">
            {{ .Title }}
        </a>
    </div>
    {{ end }}

    {{ with .Site.GetPage "/associazione/associati" }}
    <div
        class="flex-col w-1/2 bg-accent text-primary-light p-4 rounded-lg mb-8 hover:bg-primary-dark transition-colors duration-300 m-2">
        <a href="{{ .RelPermalink | relLangURL }}" class="block text-center text-xl font-bold">
            {{ .Title }}
        </a>
    </div>
    {{ end }}
</div>

<article>
    <h1 class="text-4xl font-bold mb-8 text-primary-dark">{{ T "boardText" }}</h1>

    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center lg:justify-center">
        {{ range .Site.Params.direttivo }}
        {{ partial "card.html" (dict
        "title" (printf "%s \"%s\"" .name .nickname)
        "content" .role
        "goToLink" (printf "mailto:%s@olografix.org" .nickname)
        "goToText" "email") }}
        {{ end }}
    </section>
</article>

{{ end }}