{{ define "main" }}

<div class="grid grid-cols-1 md:grid-cols-5 gap-4 h-full">
    <!-- associazione -->
    <div class="md:col-span-3 h-full">
        {{ partial "card.html" (dict
        "content" (.Site.Params.description)
        "goToSection" "associazione"
        "goToText" (T "learnMoreText")
        "withShadow" true
        "fullHeight" true) }}
    </div>
    <!-- sede -->
    <div class="md:col-span-2 h-full">
        {{ partial "card.html" (dict
        "title" (partial "headquarters-header.html" .)
        "content" (T "hqDescription")
        "goToLink" "https://www.openstreetmap.org/node/12539021893"
        "goToText" (T "hqGotoMap")
        "isExternal" true
        "targetBlank" true
        "withShadow" true
        "fullHeight" true) }}
    </div>
</div>

<!-- Membership Banner -->
<div class="bg-accent text-primary-light p-4 rounded-lg mb-4 mt-4">
    <a href="https://associati.olografix.org" class="block text-center text-xl font-bold rainbow-text">
        {{ T "membershipBanner" }}
    </a>
</div>

<section class="mb-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Activities Column -->
        <div class="flex flex-col">
            <h2 class="text-3xl font-bold mb-4 text-primary-dark">{{ T "activitiesHeader" }}</h2>
            
            {{ $activities := where .Site.RegularPages "Type" "attivita" }}
            {{ $sortedActivities := sort $activities ".Date" "desc" }}
            
            <div class="grid grid-rows-2 gap-4 flex-grow">
                {{ range first 2 $sortedActivities }}
                    <!-- create link and text -->
                    {{ $link := "" }}
                    {{ $text := "" }}
                    {{ if .Params.externalUrl }}
                        {{ $link = .Params.externalUrl }}
                        {{ $text = T "goExternalText" }}
                    {{ else }}
                        {{ $link = .RelPermalink | relLangURL }}
                        {{ $text = T "goText" }}
                    {{ end }}
                    <!-- use custom components "card" -->
                    {{ partial "card.html" (dict
                        "title" .Title
                        "content" (.Params.subtitle | default .Summary )
                        "goToLink" $link
                        "goToText" $text
                        "badge" "Attività"
                        "fullHeight" true
                        "withShadow" true) }}
                {{ end }}
            </div>
            
            {{ $activities := site.GetPage "section" "attivita" }}
            <div class="mt-4">
                <a href="{{ $activities.RelPermalink | relLangURL }}"
                    class="inline-block bg-accent text-primary-light px-4 py-2 rounded-lg w-full text-center">{{ T "allActivities" }}</a>
            </div>
        </div>

        <!-- Projects Column -->
        <div class="flex flex-col">
            <h2 class="text-3xl font-bold mb-4 text-primary-dark">{{ T "projectsHeader" }}</h2>
            
            {{ $projects := where .Site.RegularPages "Type" "progetti" }}
            {{ $sortedProjects := sort $projects ".Date" "desc" }}
            
            <div class="grid grid-rows-2 gap-4 flex-grow">
                {{ range first 2 $sortedProjects }}
                    <!-- create link and text -->
                    {{ $link := "" }}
                    {{ $text := "" }}
                    {{ if .Params.externalUrl }}
                        {{ $link = .Params.externalUrl }}
                        {{ $text = T "goExternalText" }}
                    {{ else }}
                        {{ $link = .RelPermalink | relLangURL }}
                        {{ $text = T "goText" }}
                    {{ end }}
                    <!-- use custom components "card" -->
                    {{ partial "card.html" (dict
                        "title" .Title
                        "content" (.Params.subtitle | default .Summary )
                        "goToLink" $link
                        "goToText" $text
                        "badge" "Progetto"
                        "fullHeight" true
                        "withShadow" true) }}
                {{ end }}
            </div>
            
            {{ $projects := site.GetPage "section" "progetti" }}
            <div class="mt-4">
                <a href="{{ $projects.RelPermalink | relLangURL }}"
                    class="inline-block bg-accent text-primary-light px-4 py-2 rounded-lg w-full text-center">{{ T "allProjects" }}</a>
            </div>
        </div>
    </div>
</section>
{{ end }}