{{ define "main" }}

<!-- use custom components "card" -->
{{ partial "card.html" (dict 
    "content" (.Site.Params.description)
    "goToSection" "associazione"
    "goToText" (T "learnMoreText")
    "withShadow" true) }}

<!-- Membership Banner -->
<div class="bg-accent text-primary-light p-4 rounded-lg mb-4 mt-4">
    <a href="https://associati.olografix.org" class="block text-center text-xl font-bold rainbow-text">
        {{ T "membershipBanner" }}
    </a>
</div>

<section class="mb-8">
    <h2 class="text-3xl font-bold mb-4 text-primary-dark">{{ T "activitiesAndProject" }}</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ $maxItems := 4 }}
        {{ $activitiesAndProjects := union (where .Site.RegularPages "Type" "attivita") (where .Site.RegularPages "Type" "progetti") }}
        {{ $sortedActivitiesAndProjects := sort $activitiesAndProjects ".Date" "desc" }}
        {{ range first $maxItems $sortedActivitiesAndProjects }}

        <!-- create link and text -->
        {{ $link := "" }}
        {{ $text := "" }}
        {{ if .Params.externalUrl }}
            {{ $link = .Params.externalUrl }}
            {{ $text = T "goExternalText" }}
        {{ else }}
            {{ $link = .RelPermalink | relLangURL }}
            {{ $text = T "goText" }}
        {{ end }}
        <!-- use custom components "card" -->
        {{ partial "card.html" (dict
            "title" .Title
            "content" (.Params.subtitle | default .Summary )
            "goToLink" $link
            "goToText" $text
            "badge" (cond (eq .Type "attivita") "Attività" "Progetto" )) }}
        {{ end }}
    </div>

    {{ if gt (len $sortedActivitiesAndProjects) $maxItems }}
    <div class="text-center">
        <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
            {{ $activities := site.GetPage "section" "attivita" }}
            <a href="{{ $activities.RelPermalink | relLangURL }}" class="inline-block bg-accent text-primary-light px-4 py-2 rounded-lg">{{ T "allActivities" }}</a>
            {{ $projects := site.GetPage "section" "progetti" }}
            <a href="{{ $projects.RelPermalink | relLangURL }}" class="inline-block bg-accent text-primary-light px-4 py-2 rounded-lg">{{ T "allProjects" }}</a>
        </div>
    </div>
    {{ end }}
</section>
{{ end }}